<section class="share">
    <h4>Share this post</h4>
    <a class="icon-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.domain_name}}{{page.url}}&title={{page.title}}&summary={articleSummary}&source={{site.domain_name}}{{page.url}}"
        onclick="window.open(this.href, 'linkedin-share', 'width=700,height=400');return false;">
        <span class="hidden">LinkedIn</span>        
    </a>
    <a class="fa-brands fa-bluesky fa-2xs" href="https://bsky.app/intent/compose?text={{page.title}}%20{{site.domain_name}}{{page.url}}"
        onclick="window.open(this.href, 'bluesky-share', 'width=550,height=420');return false;">
        <span class="hidden">Bluesky</span>
    </a>
    <a class="icon-mastodon" href="https://mastodonshare.com/?url={{site.domain_name}}{{page.url}}&text={{page.title}}"
        onclick="window.open(this.href, 'mastodon-share', 'width=550,height=420');return false;">
        <span class="hidden">Mastodon</span>
    </a>
</section>
